In [7]:
import pandas as pd
import numpy as np
import glob, os

from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error, accuracy_score
from sklearn.model_selection import train_test_split

from fbprophet import Prophet
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures

import matplotlib.pyplot as plt
from matplotlib.pyplot import *
import altair as alt
plt.style.use('seaborn-poster')

In [8]:
simp_df = pd.read_csv('simp_df.csv', usecols=['Date', 'SC_M1'])
simp_df.head()

         Date  SC_M1
0  2015-11-23  195.0
1  2015-11-24  195.0
2  2015-11-25  195.0
3  2015-11-26  192.0
4  2015-11-27  192.0

In [10]:
mb_df = pd.read_excel('data/raw/MB.xls')
mb_df.head()

                                      Fastmarkets MB Unnamed: 1 Unnamed: 2
0                                                NaN        NaN        NaN
1  Steel scrap HMS 1&2 (80:20 mix) North Europe o...        NaN        NaN
2                                                NaN        NaN        NaN
3                                                NaN        NaN        NaN
4                        Saved on 30 June 2020 13:48        NaN        NaN